.cont {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .banner {
    border: 0.1px solid #f1eff0;
    border-bottom: white;
    background-repeat: no-repeat repeat-x;
    background: url("./Image.png");
    background-size: cover;
    height: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .heder_text{
    
    font-family: "Roboto";
font-style: "ExtraBold" ;
font-size: clamp(40px , 3vw, 55px);

color:
#274C5B ;
  }
  @media(    max-width: 500px){
    .heder_text{
color: rgb(19, 172, 214);
    }
  }