.card{
    width: 280px;
cursor: pointer;

    border-radius: 10px;
position: relative;
background:#F9F8F8 ;
}
.card:hover{
    box-shadow: 0px 0px 10px fuchsia;
}
.minHeder{
position: absolute;
    top: 8px;
    left: 16px;
font-family: "Open Sans";
font-size: 
15px;
font-weight: 
600;
}
.name{
position: absolute;
bottom: 52px;
margin: 0;
    left: 10px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
  color: #274C5B;

}
.imgblok{
    margin-top: 25px;
   max-width: 100%;

    height: 250px;
    object-fit: cover;
}
.footer{
    border-top: 1px solid black ;
   display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;

}
.price{
    margin-left: 10px;
    font-size: 15px;
}
.starblok{
    display: flex;
    gap: 5px;
}
.star{
    color: 
    #FFA858
    ;
    font-size: 18px;
}