.cont {
  max-width: 100%;
margin: 0;
  padding: 0;
}
.banner {
  position: relative;
  border: 0.1px solid #f1eff0;
  border-bottom: white;
  background-repeat: no-repeat repeat-x;
  background: url("./Banner.jpg");
  background-size: cover;
  background-position:center ;
  height: 740px;
}
.titleobert{
  position: absolute;
  max-width: 700px;
  top: 150px;
  left: 200px;

/* margin: 0 auto; */

}

@media(max-width: 580px){
  .titleobert{
    left: 100px;
  }
}
@media(max-width: 450px){
  .titleobert{
    left: 50px;
  }
}
.textblok {

  max-width: 400px;
  flex-direction: column;
  display: flex;
  /* margin-top: 170px; */
  padding: 10px;
}

.title1 {
  padding-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  color: #274c5b;
  font-size: clamp(30px, 4vw, 81px);
}
.tx1 {
  color: #68a47f;
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(20px, 4vw, 30px);
}

.button1 {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 70px;
  background: #efd372;
  border-radius: 16px;

  gap: 5px;
}
.button1 h3 {
  padding-left: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #274c5b;
}
.arrovicon {
  width: 20px;
  font-weight: 400;
  height: 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background: #335b6b;
  color: white;
}

/* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */

.blok2 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 50px;
  padding-top: 140px;
  padding-bottom: 140px;
 
}
.texblok1 {
  color: white;
}
.texblok2 {
  color: #7eb693;
}

.titleblok1 {
  color: white;
}
.titleblok2 {
  color: #274c5b;
}

.minblok2 {
  max-width: 400px;
  position: relative;
}

.minblok2 h3 {
  position: absolute;
  top: 30px;
  left: 20px;
  font-family: "Yellowtail";
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}
.minblok2 p {
  position: absolute;
  top: 50px;
  left: 10px;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 30px;
  width: 189px;
  font-style: normal;
}

@media (max-width: 400px) {
  .minblok2 {
    margin: 0 auto;
  }
  .minblok2 h3 {
    position: absolute;
    top: 30px;
    left: 20px;
    font-family: "Yellowtail";
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }
  .minblok2 p {
    position: absolute;
    top: 50px;
    left: 10px;
    font-family: "Roboto";
    font-weight: 800;
    font-size: 25px;
    width: 189px;
    font-style: normal;
  }
}
@media (max-width: 400px) {
  .minblok2 {
    margin: 0 auto;
  }
}
.img1 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media (max-width: 700px) {
  .blok2 {
    flex-direction: column-reverse;
  }
}
