.float_layout {
    padding: 5px 5px;
    float: left;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    background: #F9F8F8;
  }
  
  .card_container {

    background: #F9F8F8;
    ;
  }
  
  .card {
    color: rgba(39, 76, 91, 1);
    height: 100%;
    width: 50%;
    /* margin-right: 100%; */
    float: right;
    /* padding-top: 100px; */
    background: #F9F8F8;
  }
  
  .card_title  {
 max-width: 500px;

  }
  .card_title h1 {
    font-size: clamp(25px, 3vw, 60px);
    /* text-align: center; */
    font-weight: bold;
  }
  

  
  .card_desc {
margin-top: 10px;
    font-size: 18px;
    width: 550px;
    line-height: 20px;
  }
  
  .card_image img {
    width: 50%;
    height: auto;
    
  }
  .img{
    object-fit: scale-down;
  }
  
  /* Phone Devices Query */
  @media only screen and (max-width: 37.5em) {
    .card_image img {
      width: 100%;     height: auto;
    }
  
    .card {
      width: 100%;
      margin-top: -4px;
    }
  }

  .small_card {
    margin-top: 20px;
    display: block;
    align-items: top;
    /* border: 1px solid black; */
    /* gap: 10px; */
  }

.iconblok{
width: 4.5rem;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
background: white;
border-radius: 10px;
/* border: 1px solid black; */
}
.icon1{
    color: green;
    font-size: 30px;
}



 .about {
    color: rgba(126, 182, 147, 1);
    margin-bottom: 30px
    ;
 }
 .imgblok{
    display: flex;
    gap: 20px;
 }

 .textblok h3 p {
  margin-top: 90px;
 }


 .textblok {

  line-height: 20px;
  gap: 10px;
  max-width: 350px;
 }

 .small_card {
  gap: 30px;
 }


 .button1 {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
cursor: pointer;
  width: 200px;
  height: 70px;
  background: rgba(39, 76, 91, 1);
  border-radius: 16px;

  gap: 5px;
}
.button1 h3 {
  padding-left: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
}

.arrovicon {
  color: #e8e0e0;
  margin-top: 4px;
}
.NavLink{
  text-decoration: none;
}
.htext {
  text-decoration: none;
  padding-left: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(10px, 2vw, 20px);
  color:white;
}
.ButtonCatalog {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 70px;
  background: #274C5B;
  border-radius: 16px;

  gap: 5px;
}

.ButtonCatalog:hover {
  box-shadow: 0px 0px 10px rgb(255, 127, 219);
}
.arrovicon {
  width: 20px;
  font-weight: 400;
  height: 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background: #335b6b;
  color: white;
}
.paragrav{
  font-size: clamp(12px , 3.0vw , 16px);
}