
.banner {
  border: 0.1px solid #f1eff0;
  display: flex;
  align-items: center;
  background-repeat: no-repeat repeat-x;
  background: #274c5b;
  background-size: cover;
  height: 850px;
}
.blok1 {
width: 1500px;
  margin: 0px auto;

  text-align: center;

  padding: 10px;
}
.minblok {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
gap: 40px;
  max-width: 1200px;
}
.minbloktitle {
  text-align: start;
}
.minbloktitle h2 {
  font-family: Yellowtail;
  font-weight: 400;
  color: #7eb693;
  font-size: clamp(20px, 3vw, 29px);
}
.minbloktitle p {
  margin-top: 20px;
  font-family: roboto;
  font-style: SemiBold;
  font-weight: 800;
  font-size: clamp(18px, 3vw, 40px);
  color: white;
}

.ButtonCatalog {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 60px;
  background: #efd372;
  border-radius: 16px;

  gap: 5px;
}

.ButtonCatalog:hover {
  box-shadow: 0px 0px 10px rgb(255, 127, 219);
}
.NavLink{
  text-decoration: none;
}
.htext {
  text-decoration: none;
  padding-left: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(10px, 2vw, 20px);
  color: #274c5b;
}
.arrovicon {
  width: 20px;
  font-weight: 400;
  height: 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background: #335b6b;
  color: white;
}
.minblok2 {

  padding: 5px;
  margin: 40px auto;
  display: flex;

justify-content: space-around;
  gap: 20px;

}
@media (max-width: 600px) {
  .ButtonCatalog {
    width: 150px;
    height: 50px;
  }
}
