.contShopHome{
    width: 100%;
    padding: 10px;
  
    text-align: center;
}
.contShopHome h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: clamp(15px, 2.4vw, 50px);
}
.contShopHome p{
   color: 
   #7EB693;
   
font-family: 'Yellowtail';
font-style: normal;
font-weight: 400;
font-size: clamp(15px, 2.4vw, 36px);
}
.catalog{

max-width: 1300px;
padding: 15px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;

}
.ButtonCatalog{
    
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 200px;
    height: 70px;
    background: #274C5B;
    border-radius: 16px;
  
    gap: 5px;
}

  .ButtonCatalog h3 {
    padding-left: 10px;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: white;
  }
  .arrovicon {
    width: 20px;
    font-weight: 400;
    height: 20px;
    border-radius: 100px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background: #335b6b;
    color: white;
  }