.cont {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    background: #ffffff;
    border-bottom: 1px solid #333;
  }
  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    color: #274c5b;
    font-size: clamp(10px, 2.5vw, 20px);
    gap: 5px;
  }
  .logoimg {
    object-fit: cover;
    height: 100%;
  }
  
  .allnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 28px;
  
    font-family: Roboto;
    font-style: Bold;
    font-weight: 700;
    font-size: 16px;
    color: #274c5b;
  }
  .NavLink {
    text-decoration: none;
    color: #274c5b;
  }
  .NavLink h3 {
    text-decoration: none;
    color: #274c5b;
  }
  .input {
    font-size: 15px;
    outline: none;
    padding: 5px;
    transition: all 0.5s ease-in, box-shadow 0.6s ease-in;
    width: 18px;
    cursor: pointer;
  
    border-radius: 100px;
  }
  .input::placeholder {
    opacity: 0;
    color: #0f2a5f;
    transition: 1.1s linear;
  }
  
  .input:hover {
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 5px blue;
  }
  .input:focus::placeholder {
    opacity: 1;
    transition: 1.2s linear;
  }
 .input:focus,
  .input:not(:placeholder-shown) {
    
    border-radius: 1200px;
  
    width: 200px;
    transition: all 0.8s ease-out;
    box-shadow: 0px 0px 20px rgb(151, 248, 255);
  }
  @media (max-width: 800px) {
    .navbar {
      display: none;
    }
  }
  .inputblok{
    position: relative;
  display: flex;
  
  }
  .icon{
    position: absolute;
  width: 30px;
  height: 30px;
  align-items: center;
  display: flex;
  font-weight: 300;
  justify-content: center;
  
  right: 0;
  color: black;
  
  
  }
  .icon:hover{
    cursor: pointer;
    border: 1px solid black;
    color:  rgb(144, 9, 94) ;
    border-radius: 45px;
   
  }