.dash {
    max-width: 100%;
    box-sizing: border-box;
    /* max-width: 1300px; */
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(300px,auto);
    color: #000000;
    font-size: clamp(10px 2.8vw ,11.7rem);
    
}
@media( max-width: 630px){
   .dash{
    grid-template-columns: repeat(2, 1fr);
   }
}
.one{
    border-right:1px solid black;
    text-align: right;
    padding-right: 40px;
    
    
}

.dash h1 {
    color: rgba(39, 76, 91, 1);
}

.dash h5 {
    color: rgba(82, 92, 96, 1);

}

.three{
    border-left:1px solid black;
    text-align: left;
    padding-left: 40px;
}
@media( max-width: 630px){
    .three{
        display: none;
    }
}


.icons {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 3rem;;
}
@media( max-width: 400px){
    .icons{
        gap: 1.5rem;
        grid-template-columns: repeat(2, 2fr);
    }
}

.gridIcon {
  display: grid;
  place-items: center;  
  margin: 0 auto;
justify-content: center;
align-items: center;
  height: 20vh;
  max-width: 100%;
  color: rgb(0, 0, 0);
}

.Fap{

    font-size: 1.7rem;
    transition: ease 500ms;
    cursor: pointer;
    color: black;
}

.Fap:hover{
    transform: translateY(-15px);
}

.Fap:nth-child(1):hover{
    color: #bc1fff;
    
   
}
.Fap:nth-child(2):hover{
    color: #3532e6;
}
.Fap:nth-child(3):hover{
    color: #00acee;
}
.Fap:nth-child(4):hover{
    color: #d42525;
}


.logo {
    width: 30px;
    height: 40px;
    padding-bottom:-30px;
}

.basment {
    /* position: fixed;
    left: 0; bottom: 0; */
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
    
}

.empty {
    margin-top: 60px;
    border-top:1px solid black;
}